# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
env/
.env
nycollisionsvenv/

# Data artifacts
*.npy
*.jpg
*.csv
*.dbf
*.prj
*.shp
*.xml
*.shx
# VS / IDE junk
.vscode/
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
