# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
env/
.env
nycollisionsvenv/

# Data artifacts
*.npy
*.jpg
*.csv
*.dbf
*.prj
*.shp
*.xml
*.shx
# VS / IDE junk
.vscode/
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
NY_Motor_Vehicle_Collisions/Analytics/desktop.ini
NY_Motor_Vehicle_Collisions/Analytics/by_hour/00.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/01.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/02.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/03.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/04.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/05.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/06.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/07.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/08.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/09.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/10.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/11.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/12.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/13.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/14.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/15.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/16.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/17.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/18.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/19.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/20.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/21.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/22.png
NY_Motor_Vehicle_Collisions/Analytics/by_hour/23.png
